# template -- copy this as `deven.local` and fill in some values. then source `devenv`

# URI is necessary, empty user name and password are fine.
ARTIFACTORY_URI=
ARTIFACTORY_USERNAME=
ARTIFACTORY_PASSWORD=

# vim: set sw=2 ts=2 ft=sh:
